.parent-container {
    width: 100%;
    background-color: rgb(22, 20, 57) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passwordBox{
        width: 400px;
        background-color: blueviolet;
        padding: 20px;
}
.passwordBox h3{
    text-align: center;
    margin-bottom: 15px;
}
.passwordbtn-wrapper{
    display: flex;
    gap: 5px;
}
.passwordbtn-wrapper input{
   flex-basis: 80%;
   padding: 5px;
}
.passwordbtn-wrapper button{
   flex-basis: 20%;
   border: none;
}
.password-length{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
 .box input{ 
    width: 60px;
    height: 30px !important;
}
.password-length input{ 
    width: 60px;
    height: 20px;
}
.generatePass{
    display: flex;
    justify-content: center;
    align-items: center;
}
.generatePass button{
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(211 217 217);
    width: 80%;
    margin-top: 5px;
}
